.block{
    border: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    background-color: white;
    
    .container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    img{
        height: 60%;
    }
    
    .text{
        font-size: 20px;
    }

    &:hover{
        background-color: rgb(238, 158, 158);
        }
    }